<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3">
				<a href="/" class="logo footer__logo">
					<img data-src="./img/logo.png" data-sizes="auto" alt="logo" class="logo__img  footer__logo-img lazyload">
				</a>
				<p class="footer__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id rem exercitationem voluptatem tenetur molestias harum voluptates vitae nulla?
				</p>
				<div class="social footer__social">
					<a href="" class="social__item">Follow Us</a>
					<a href="" class="social__item"><i class="fab fa-facebook-f"></i></a>
					<a href="" class="social__item"><i class="fab fa-vimeo-v"></i></a>
					<a href="" class="social__item"><i class="fab fa-twitter"></i></i></a>
					<a href="" class="social__item"><i class="fab fa-tumblr"></i></a>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<h3 class="footer__title">Our Services</h3>
				<ul class="footer__menu">
					<li class="footer__item"><a href="
						" class="footer__link">Marketing Strategy</a>
					</li>
					<li class="footer__item"><a href="
						" class="footer__link">Interior Design</a>
					</li>
					<li class="footer__item"><a href="
						" class="footer__link">Digital Services</a>
					</li>
					<li class="footer__item"><a href="
						" class="footer__link">Product Selling</a>
					</li>
					<li class="footer__item"><a href="
						" class="footer__link">Product Design</a>
					</li>
					<li class="footer__item"><a href="
						" class="footer__link">Social Marketing</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<h3 class="footer__title">Company Address</h3>
				<div class="footer__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
				<p class="footer__contacts footer__address">
					<span class="footer__contacts-subtitle">Address:</span>
					<span class="footer__contacts-text"> 54/1 New dhas sorini Asut, Melbord Austria.</span>
				</p>
				<p class="footer__contacts footer__phone">
					<span class="footer__contacts-subtitle">Phone:</span>
					<span class="footer__contacts-text">  54786547521</span>
				</p>
				<p class="footer__contacts footer__mail">
					<span class="footer__contacts-subtitle">Email:</span>
					<span class="footer__contacts-text"> demo@example.com</span>
				</p>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<h3 class="footer__title">Popular posts</h3>
				<div class="footer__posts">
					<div class="footer__post">
						<a href="" class="footer__img-wrapper">
							<img data-src="./img/articles/article2.jpg" data-sizes="auto" alt="" class="footer__img lazyload">
						</a>
						<div class="footer__post-inner">
							<a href="" class="footer__post-text">
								Tiktok Illegally collecting data sharing
							</a>
							<span class="footer__post-date">October 22, 2020</span>
						</div>
					</div>
					<div class="footer__post">
						<a href="" class="footer__img-wrapper">
							<img data-src="./img/articles/article4.jpg" data-sizes="auto" alt="" class="footer__img lazyload">
						</a>
						<div class="footer__post-inner">
							<a href="" class="footer__post-text">
								How can use our latest news by
							</a>
							<span class="footer__post-date">October 22, 2020</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer__rights align-items-center justify-content-between">
			<div class="col-md-6  col-sm-12">
				<p class="rights__text">
					Copyright © techno all rights reserved.
				</p>
			</div>
			<div class="col-md-6  col-sm-12">
				<div class="rights__list">
					<a href="" class="rights__item">Terms & Condition</a>
					<a href="" class="rights__item">Privacy Policy</a>
					<a href="" class="rights__item">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>